<!DOCTYPE html>
<html lang="en" ng-app="turtleFacts">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Turtle Facts and Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Turtle Facts Quiz</h1>
            <h3>
          Learn about all the turtles below before you decide to take on the
          <strong> TURTLE QUIZ </strong>
      </h3>
        </div>
        <div ng-controller="listCtrl as list" ng-hide="list.quizMetrics.quizActive">
          <!-- ng-hide conditional on true or false -->
            <!-- 'as' allows you to make a keyword like 'list' to define which controller you are using to bind data by putting "list."-->
            <!-- {{list.test}}-->
            <form class="form-inline well well-sm clearfix">
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" placeholder="Search..." class="form-control" ng-model="list.search">
                <!-- ng-model allows ups to bind input text to controller property -->
                <button class="btn btn-warning pull-right" ng-click="list.activateQuiz()"> <strong>Start Quiz</strong></button>
            </form>
            <div class="row">
                <div class="col-sm-6" ng-repeat="turtle in list.data | filter:list.search">
                    <!-- <p ng-repeat="turtle in list.data">
                    pipe symbol for filter takes return value from ngrepeat and puts it into the filter, filtered by the search
                    if search term is inside the ngrepeat data it will show
                ngrepeat will loop through the data variable in the list controller with the JSON object referenced as turtle
                {{turtle.type}}
                by using dot notation .type we can access the type in the object
              </p> -->
                    <div class="well well-sm">
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{turtle.image_url}}" class="img-rounded img-responsive well-image">
                                <!-- ng-src is an angular directive that allows the browser to skip over the img until it has loaded angular -->
                            </div>
                            <div class="col-md-6">
                                <h4> {{turtle.type}} </h4>
                                <p><strong>Locations: </strong>{{turtle.locations}}</p>
                                <p><strong>Size: </strong>{{turtle.size}}</p>
                                <p><strong>Average: </strong>{{turtle.lifespan}}</p>
                                <p><strong>Diet: </strong>{{turtle.diet}}</p>
                                <button class="btn-primary pull-right" data-toggle="modal" data-target="#turtle-info" ng-click="list.changeActiveTurtle(turtle)">Learn More</button>
                                <!-- data-toggle controls show/hide of collapsible element,
                                data-target attribute will connect the button with the collapsible content,
                                ng-click needs list. because we are using 'as' with our controller,
                                the argument turtle is passed in when clicked and is the JSON from the ng-repeat -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="turtle-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>{{list.activeTurtle.type}}</h2>
                            <!-- references activeTurtle object property type -->
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <img ng-src="{{list.activeTurtle.image_url}}" class="img-rounded img-responsive">
                                </div>
                            </div>
                            <div class="row top-buffer">
                                <div class="col-md-6">
                                    <p><strong>Locations: </strong>{{list.activeTurtle.locations}}</p>
                                    <p><strong>Size: </strong>{{list.activeTurtle.size}}</p>
                                    <p><strong>Average: </strong>{{list.activeTurtle.lifespan}}</p>
                                    <p><strong>Diet: </strong>{{list.activeTurtle.diet}}</p>
                                </div>
                                <div class="col-xs-12 top-buffer">
                                    <p>{{list.activeTurtle.description}}</p>
                                    <button class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
                                    <!-- data-dismiss is bootstrap to dismiss the modal -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- List Controller -->
        <div ng-controller="quizCtrl as quiz" ng-show="quiz.quizMetrics.quizActive">
          <h1>Quiz</h1>
        </div><!-- Quiz Controller -->
      </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/list.js"></script>
        <script src="js/controllers/quiz.js"></script>
        <script src="js/factories/quizMetrics.js"></script>
        <script src="js/factories/dataService.js"></script>
</body>

</html>
